.c1
{
    color: blueviolet;
}
.c2
{
    background-color: antiquewhite;
}
.c3
{
    text-align: center;
}
.c4
{
    font-size: 20px;
}
.c5
{
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
}